@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap';
/*-----------------------------------*\
  #main.css
\*-----------------------------------*/
/**
 * copyright 2023 leleduc
 */
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(220, 12%, 43%);
  font-size: 1.6rem;
  line-height: 1.7;
  height: 300vh;
}

body.nav-active {
  overflow: hidden;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
.container {
  padding-inline: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-link {
  font-size: 2rem;
  transition: 0.25s ease;
}

.social-link:is(:hover, :focus-visible) {
  transform: translateY(-3px);
}

.section {
  padding-block: 90px;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: hsl(218, 22%, 26%);
  font-weight: 700;
  line-height: 1.3;
}

.h1 {
  font-size: calc(2.7rem + 1.38vw);
}

.h2 {
  font-size: calc(2.6rem + 0.66vw);
}

.h3 {
  font-size: 2.2rem;
}

.h4 {
  font-size: 1.9rem;
}

.h5 {
  font-size: 1.7rem;
}

.btn {
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
  font-weight: 700;
  border: 2px solid hsl(0, 0%, 100%);
  max-width: max-content;
  padding: 12px 28px;
  border-radius: 100px;
  transition: 0.25s ease;
  will-change: transform;
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-4px);
}

.btn-primary,
.btn-outline:is(:hover, :focus-visible) {
  background-color: hsl(0, 0%, 100%);
  color: hsl(218, 22%, 26%);
}

.img-holder {
  aspect-ratio: var(--width)/var(--height);
  background-color: hsl(0, 0%, 79%);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: hsl(234, 50%, 64%);
  font-weight: 700;
  margin-block-end: 16px;
}

.grid-list {
  display: grid;
  gap: 25px;
}

.w-100 {
  width: 100%;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  box-shadow: 0 0 20px hsla(216, 14%, 14%, 0.05);
  z-index: 4;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.header .logo-light {
  display: block;
}
.header .btn,
.header .logo-dark {
  display: none;
}
.header .navbar {
  position: fixed;
  top: 0;
  left: -300px;
  background-color: hsl(216, 14%, 14%);
  color: hsl(0, 0%, 100%);
  max-width: 300px;
  width: 100%;
  height: 100vh;
  padding: 30px;
  padding-block-end: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.header .navbar .navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .navbar-top .nav-close-btn {
  background-color: hsla(0, 0%, 100%, 0.08);
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  padding: 6px;
  border-radius: 50%;
  transition: 0.25s ease;
}
.header .navbar .navbar-top .nav-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}
.header .navbar .navbar-top .nav-close-btn:is(:hover, :focus-visible) {
  background-color: hsla(0, 0%, 100%, 0.12);
}
.header .navbar .navbar-list {
  margin-block-end: auto;
}
.header .navbar .navbar-list .navbar-link {
  font-weight: var(--fw-700);
  padding-block: 6px;
}
.header .navbar .contact-link {
  transition: 0.25s ease;
}
.header .navbar .contact-link:is(:hover, :focus-visible) {
  color: hsl(234, 50%, 64%);
}
.header .navbar.active {
  visibility: visible;
  transform: translateX(300px);
}
.header .nav-open-btn {
  font-size: 3.5rem;
  color: hsl(0, 0%, 100%);
}
.header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsl(216, 14%, 14%);
  pointer-events: none;
  opacity: 0;
  transition: 0.25s ease;
}
.header .overlay.active {
  pointer-events: all;
  opacity: 0.8;
}

.header.active {
  background-color: hsl(0, 0%, 100%);
  position: fixed;
  animation: slideIn 0.5s ease forwards;
}
.header.active .logo-light {
  display: none;
}
.header.active .logo-dark {
  display: block;
}
.header.active .nav-open-btn {
  color: hsl(218, 22%, 26%);
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
.hero {
  padding-block-start: 160px;
  text-align: center;
}
.hero .container {
  display: grid;
  gap: 70px;
}
.hero .container .hero-title {
  color: hsl(0, 0%, 100%);
}
.hero .container .hero-text {
  font-size: 1.8rem;
  color: hsl(0, 0%, 100%);
  margin-block: 24px 36px;
}
.hero .container .btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.hero .container .hero-slider,
.hero .container .hero-card {
  position: relative;
}
.hero .container .hero-card .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(218, 22%, 26%);
  font-size: 2rem;
  padding: 25px;
  border-radius: 50%;
  transition: 0.25s ease;
  animation: pulse 2s ease infinite;
}
.hero .container .hero-card .play-btn:is(:hover, :focus-visible) {
  color: hsl(234, 50%, 64%);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.7);
  }
  75% {
    box-shadow: 0 0 0 20px transparent;
  }
}
.hero .container .slider-inner {
  border-radius: 10px;
  overflow: hidden;
}
.hero .container .slider-inner .slider-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  transition: 0.5s ease;
}
.hero .container .slider-inner .slider-container .slider-item {
  min-width: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.hero .container .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: hsla(0, 0%, 100%, 0.7);
  color: hsl(218, 22%, 26%);
  font-size: 2rem;
  padding: 12px;
  border-radius: 50%;
  transition: 0.25s ease;
}
.hero .container .slider-btn:is(:hover, :focus-visible) {
  background-color: hsl(0, 0%, 100%);
}
.hero .container .slider-btn.prev {
  left: 20px;
}
.hero .container .slider-btn.next {
  right: 20px;
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
.service {
  text-align: center;
}
.service .section-title {
  margin-block-end: 50px;
}
.service .service-card {
  padding: 40px;
  box-shadow: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
  border-radius: 6px;
}
.service .service-card .card-icon {
  width: 60px;
  height: 60px;
  background-color: hsl(234, 50%, 64%);
  display: grid;
  place-items: center;
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  border-radius: 50%;
  margin-inline: auto;
}
.service .service-card .card-icon ion-icon {
  --ionicon-stroke-width: 50px;
}
.service .service-card .card-title {
  margin-block: 16px 10px;
}
.service .service-card .btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-block-start: 10px;
  color: hsl(234, 50%, 64%);
  font-weight: 700;
  transition: 0.25s ease;
}
.service .service-card .btn-text:is(:hover, :focus-visible) {
  opacity: 0.9;
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
.about .container {
  display: grid;
  gap: 50px;
}
.about .section-title {
  margin-block-end: 35px;
}
.about .accordion-card .card-title {
  padding-block-end: 20px;
}
.about .accordion-card .card-title .accordion-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about .accordion-card .card-title .accordion-btn ion-icon {
  font-size: 1.5rem;
  color: hsl(219, 72%, 56%);
  transition: 0.25s ease;
}
.about .accordion-card .card-title .accordion-btn .span {
  transition: 0.25s ease;
}
.about .accordion-card .card-title .accordion-btn:is(:hover, :focus-visible) .span {
  color: hsl(234, 50%, 64%);
}
.about .accordion-card .accordion-content {
  padding-inline-start: 24px;
  max-height: 0;
  overflow: hidden;
}
.about .accordion-card.expanded .accordion-btn ion-icon {
  transform: rotate(0.5turn);
}
.about .accordion-card.expanded .accordion-btn .span {
  color: hsl(234, 50%, 64%);
}
.about .accordion-card.expanded .accordion-content {
  max-height: max-content;
  padding-block-end: 20px;
}

/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
.feature .container {
  display: grid;
  gap: 50px;
}
.feature .container .section-text {
  margin-block: 25px 30px;
}
.feature .container .feature-list {
  display: grid;
  gap: 15px;
}
.feature .container .feature-list .feature-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.feature .container .feature-list .feature-card .card-icon {
  background-color: hsl(233, 52%, 94%);
  font-size: 1.4rem;
  padding: 4px;
  border-radius: 50%;
}
.feature .container .feature-list .feature-card .card-icon ion-icon {
  --ionicon-stroke-width: 40px;
}

/*-----------------------------------*\
  #STATS
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
.stats {
  background-image: linear-gradient(to bottom, hsl(0, 0%, 100%) 50%, hsl(220, 20%, 97%) 50%);
}
.stats .stats-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 36px 24px;
  padding: 45px 30px;
  border-radius: 8px;
}
.stats .stats-card .card-text > * {
  color: hsl(0, 0%, 100%);
}

/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
.project {
  background-color: hsl(220, 20%, 97%);
}
.project .section-subtitle,
.project .section-title {
  text-align: center;
}
.project .section-title {
  margin-block-end: 50px;
}
.project .project-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
  height: 100%;
}
.project .project-card .card-content {
  padding: 30px;
}
.project .project-card .card-content .card-title {
  transition: 0.25s ease;
}
.project .project-card .card-content .card-title:is(:hover, :focus-visible) {
  color: hsl(234, 50%, 64%);
}
.project .project-card .card-content .card-text {
  margin-block: 16px 20px;
}
.project .project-card .card-content .card-meta-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.project .project-card .card-content .card-meta-list .card-meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: hsl(220, 12%, 70%);
  font-size: 1.4rem;
}

/*-----------------------------------*\
  #CTA
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
.cta {
  background-color: hsl(218, 22%, 26%);
}
.cta .container {
  padding-block: 100px 60px;
  border-block-end: 1px solid hsla(222, 23%, 71%, 0.2);
}
.cta .container .section-title {
  color: hsl(0, 0%, 100%);
  margin-block-end: 30px;
}
.cta .container .btn {
  background-color: hsl(234, 50%, 64%);
  color: hsl(0, 0%, 100%);
  border: none;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
.footer {
  background-color: hsl(218, 22%, 26%);
  padding-block: 60px 100px;
  color: hsl(0, 0%, 79%);
}
.footer .footer-brand .footer-text {
  margin-block: 20px;
}
.footer .social-list {
  color: hsl(0, 0%, 100%);
}
.footer .footer-list-title {
  color: hsl(0, 0%, 100%);
  margin-block-end: 16px;
}
.footer .footer-link {
  padding-block: 4px;
  transition: 0.25s ease;
}
.footer .footer-link:is(:hover, :focus-visible) {
  color: hsl(234, 50%, 64%);
}
.footer .input-wrapper {
  position: relative;
  margin-block-start: 25px;
}
.footer .input-field {
  background-color: hsla(0, 0%, 100%, 0.03);
  color: hsl(0, 0%, 79%);
  font-size: 1.5rem;
  padding: 12px 16px;
  border: 1px solid hsla(214, 88%, 27%, 0.07);
  border-radius: 6px;
  box-shadow: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);
  outline: none;
}
.footer .input-field::placeholder {
  color: inherit;
}
.footer .submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 6px 6px 0;
  background-color: hsl(234, 50%, 64%);
  color: hsl(0, 0%, 100%);
  padding-inline: 24px;
  font-weight: 700;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
/*
* color
*/
/*
* typography
*/
/*
* spacing
*/
/*
* shadow
*/
/*
* border radius
*/
/*
* transition
*/
/*-----------------------------------*\
  For large than 576px
\*-----------------------------------*/
@media (min-width: 576px) {
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
  /*-----------------------------------*\
    #PROJECT
  \*-----------------------------------*/
  .project-card .card-content {
    padding: 40px;
  }
}
/*-----------------------------------*\
  For large than 768px
\*-----------------------------------*/
@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */
  .section {
    padding-block: 120px;
  }
  .container {
    max-width: 720px;
  }
  .grid-list {
    grid-template-columns: 1fr 1fr;
  }
  /**
   * HEADER
   */
  .header .btn {
    display: block;
    margin-inline-start: auto;
    padding: 8px 20px;
  }
  .header.active .btn {
    background-color: hsl(234, 50%, 64%);
    border-color: hsl(234, 50%, 64%);
    color: hsl(0, 0%, 100%);
  }
  /**
   * HERO
   */
  .hero .container .hero-content {
    max-width: 85%;
    margin-inline: auto;
  }
  .hero .container .hero-text {
    font-size: 2rem;
  }
  /**
   * SERVICE
   */
  .service .section-title {
    max-width: 85%;
    margin-inline: auto;
  }
  /**
   * ABOUT
   */
  .about .container {
    grid-template-columns: 1fr 0.7fr;
    align-items: center;
  }
  /**
   * FEATURE
   */
  .feature .container {
    grid-template-columns: 0.7fr 1fr;
    align-items: center;
  }
  .feature .feature-banner {
    order: 1;
  }
}
/*-----------------------------------*\
  For large than 992px
\*-----------------------------------*/
@media (min-width: 992px) {
  /**
   * REUSED STYLE
   */
  .container {
    max-width: 992px;
  }
  /**
   * HEADER
   */
  .header .nav-open-btn,
  .header .navbar > *:not(.navbar-list),
  .header .overlay {
    display: none;
  }
  .header .navbar,
  .header .navbar.active {
    all: unset;
    display: block;
    margin-inline: auto 24px;
  }
  .header .navbar .navbar-list,
  .header .navbar.active .navbar-list {
    display: flex;
    gap: 30px;
  }
  .header .navbar .navbar-list .navbar-link,
  .header .navbar.active .navbar-list .navbar-link {
    color: hsl(0, 0%, 100%);
    transition: 0.25s ease;
  }
  .header .navbar .navbar-list .navbar-link:is(:hover, :focus-visible),
  .header .navbar.active .navbar-list .navbar-link:is(:hover, :focus-visible) {
    opacity: 0.7;
  }
  .header.active .navbar .navbar-link {
    color: hsl(218, 22%, 26%);
  }
  .header.active .navbar .navbar-link:is(:hover, :focus-visible) {
    opacity: 1;
    color: hsl(234, 50%, 64%);
  }
  /**
   * HERO
   */
  .hero {
    padding-block-start: 140px;
    text-align: left;
  }
  .hero .container {
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
  }
  .hero .container .hero-content {
    max-width: unset;
    margin-inline: 0;
  }
  .hero .container .hero-content .btn-wrapper {
    justify-content: flex-start;
  }
  /**
   * STATS
   */
  .stats .stats-card {
    grid-template-columns: repeat(4, 1fr);
  }
  /**
   * PROJECT
   */
  .project .section-title {
    max-width: 32ch;
    margin-inline: auto;
  }
  /**
   * CTA
   */
  .cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cta .container .btn {
    min-width: max-content;
  }
  .cta .container .section-title {
    max-width: 30ch;
    margin-block-end: 0;
  }
  /**
   * FOOTER
   */
  .footer .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*-----------------------------------*\
  For large than 1200px
\*-----------------------------------*/
@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */
  .container {
    max-width: 1140px;
  }
  /**
   * HERO
   */
  .hero .container .hero-text {
    padding-inline-end: 100px;
  }
  /**
   * SERVICE
   */
  .service .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }
  /**
   * STATS
   */
  .stats .container {
    max-width: 70%;
  }
  .stats .container .stats-card {
    padding: 60px;
  }
  /**
   * PROJECT
   */
  .project .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
  /**
   * FOOTER
   */
  address.footer-text {
    padding-inline-end: 100px;
    margin-block-end: 16px;
  }
}
/*-----------------------------------*\
  For large than 1400px
\*-----------------------------------*/
@media (min-width: 1400px) {
  /**
   * REUSED STYLE
   */
  .container {
    max-width: 1320px;
  }
  /**
   * FEATURE
   */
  .feature .container .feature-list {
    grid-template-columns: 1fr 1fr;
  }
}/*# sourceMappingURL=main.css.map */