@import './variable';

/*-----------------------------------*\
  For large than 576px
\*-----------------------------------*/
@media (min-width: 576px) {
  /*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  /*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/
  .project-card {
    .card-content {
      padding: 40px;
    }
  }
}

/*-----------------------------------*\
  For large than 768px
\*-----------------------------------*/
@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */
  .section {
    padding-block: $section-padding-768px;
  }
  .container {
    max-width: 720px;
  }
  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * HEADER
   */
  .header {
    .btn {
      display: block;
      margin-inline-start: auto;
      padding: 8px 20px;
    }
  }

  .header.active {
    .btn {
      background-color: $violet-blue-crayola;
      border-color: $violet-blue-crayola;
      color: $white;
    }
  }

  /**
   * HERO
   */
  .hero {
    .container {
      .hero-content {
        max-width: 85%;
        margin-inline: auto;
      }

      .hero-text {
        font-size: $fs-3-7;
      }
    }
  }

  /**
   * SERVICE
   */

  .service .section-title {
    max-width: 85%;
    margin-inline: auto;
  }

  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 0.7fr;
    align-items: center;
  }

  /**
   * FEATURE
   */

  .feature {
    .container {
      grid-template-columns: 0.7fr 1fr;
      align-items: center;
    }

    .feature-banner {
      order: 1;
    }
  }
}

/*-----------------------------------*\
  For large than 992px
\*-----------------------------------*/
@media (min-width: 992px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 992px;
  }

  /**
   * HEADER
   */
  .header {
    .nav-open-btn,
    .navbar > *:not(.navbar-list),
    .overlay {
      display: none;
    }

    .navbar,
    .navbar.active {
      all: unset;
      display: block;
      margin-inline: auto 24px;

      .navbar-list {
        display: flex;
        gap: 30px;

        .navbar-link {
          color: $white;
          transition: $transition-1;
        }

        .navbar-link:is(:hover, :focus-visible) {
          opacity: 0.7;
        }
      }
    }

    // .btn {
    //   //   margin-inline-start: 0;
    // }
  }

  .header.active {
    .navbar {
      .navbar-link {
        color: $charcoal;
      }

      .navbar-link:is(:hover, :focus-visible) {
        opacity: 1;
        color: $violet-blue-crayola;
      }
    }
  }

  /**
   * HERO
   */

  .hero {
    padding-block-start: calc($section-padding + 50px);
    text-align: left;

    .container {
      grid-template-columns: 1fr 0.8fr;
      align-items: center;

      .hero-content {
        max-width: unset;
        margin-inline: 0;

        .btn-wrapper {
          justify-content: flex-start;
        }
      }
    }
  }

  /**
   * STATS
   */

  .stats .stats-card {
    grid-template-columns: repeat(4, 1fr);
  }

  /**
   * PROJECT
   */

  .project .section-title {
    max-width: 32ch;
    margin-inline: auto;
  }

  /**
   * CTA
   */

  .cta {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        min-width: max-content;
      }

      .section-title {
        max-width: 30ch;
        margin-block-end: 0;
      }
    }
  }

  /**
   * FOOTER
   */

  .footer .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*-----------------------------------*\
  For large than 1200px
\*-----------------------------------*/
@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1140px;
  }

  /**
   * HERO
   */

  .hero .container .hero-text {
    padding-inline-end: 100px;
  }

  /**
   * SERVICE
   */

  .service .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }

  /**
   * STATS
   */

  .stats .container {
    max-width: 70%;

    .stats-card {
      padding: 60px;
    }
  }

  /**
   * PROJECT
   */

  .project .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * FOOTER
   */

  address.footer-text {
    padding-inline-end: 100px;
    margin-block-end: 16px;
  }
}

/*-----------------------------------*\
  For large than 1400px
\*-----------------------------------*/
@media (min-width: 1400px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1320px;
  }

  /**
   * FEATURE
   */

  .feature .container .feature-list {
    grid-template-columns: 1fr 1fr;
  }
}
